<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixunlian.mapper.BackgroundTransferRecordinputMapper">
    <resultMap id="BaseResultMap" type="com.yixunlian.pojo.BackgroundTransferRecordinput">
        <id column="background_transfer_record_id" jdbcType="VARCHAR" property="backgroundTransferRecordId"/>
        <result column="background_transfer_record_money" jdbcType="DECIMAL" property="backgroundTransferRecordMoney"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="activityproject_id" jdbcType="VARCHAR" property="activityprojectId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
    background_transfer_record_id, background_transfer_record_money, user_id, activityproject_id, 
    created, updated
  </sql>
</mapper>