<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixunlian.mapper.ExperienceDaysMapper">
    <resultMap id="BaseResultMap" type="com.yixunlian.pojo.ExperienceDays">
        <id column="experience_days_id" jdbcType="VARCHAR" property="experienceDaysId"/>
        <result column="experience_days" jdbcType="INTEGER" property="experienceDays"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
    experience_days_id, experience_days, user_id, created, updated
  </sql>
</mapper>