<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixunlian.mapper.ReportMapper">
    <resultMap id="BaseResultMap" type="com.yixunlian.pojo.Report">
        <id column="report_id" jdbcType="VARCHAR" property="reportId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="report_context" jdbcType="VARCHAR" property="reportContext"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
    report_id, user_id, activity_id, report_context, created, updated
  </sql>
</mapper>